/* Reset and base styles */
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding-top: 140px;
	transition: background-color 0.3s ease;
}


#gallery-section h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	color: hsl(240, 100%, 20%);
}


/* Gallery Grid */
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
	padding: 2rem;
	background-color: #f5f5f5;
}

.gallery img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.gallery img:hover {
	transform: scale(1.03);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Lightbox */
.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	justify-content: center;
	align-items: center;
	z-index: 1000;
	backdrop-filter: blur(5px);
}

.lightbox-content {
	max-width: 90%;
	max-height: 90%;
	position: relative;
}

.lightbox-content img {
	width: auto;
	max-height: 100%;
	max-width: 100%;
	border-radius: 5px;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-size: 30px;
	cursor: pointer;
}


#darkModeToggle {
	padding: 0.8rem;
	border-radius: 50%;
	background: transparent;
	color: #ecf0f1;
	cursor: pointer;
	font-size: 1.2rem;
	transition: all 0.3s ease;
	margin-right: 0;
}

/* Dark mode styles */
body.dark-mode a {
	color: #95bdb6e2;
}
body.dark-mode h1 {
	color: #ffffff;
}
body.dark-mode a.active {
	background-color: #c62828;
	color: #ffffff;
}

body.dark-mode #darkModeToggle {
	border-color: #ecf0f1;
	color: #ecf0f1;
}

body.dark-mode #darkModeToggle:hover {
	background-color: #e74c3c;
	color: #ecf0f1;
	border-color: #e74c3c;
}

body.dark-mode .gallery {
	background-color: #1a1a1a;
}

/* Dark mode footer styles */
body.dark-mode footer {
	background-color: #8c1a1a;
	border-top: 1px solid rgba(236, 240, 241, 0.27);
}

/* Media Queries */
@media (max-width: 768px) {
	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		padding: 1rem;
	}
}
